@tailwind base;
@tailwind components;
@tailwind utilities;

section.hero {
    @apply grid;
    @apply text-lg;
    @apply font-semibold;
    @apply gap-8;

    grid-template-columns: 0.4fr 0.6fr;
}

:root {
    --main: #FF5B00;
}

::-webkit-scrollbar {
    width: 9px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--main);
}
.special-label {
    transition: all 0.2s ease 0s;
}

input:focus + p,
.highlight {
    color: #f13a01;
}

@media (max-width: 980px) {
    ::-webkit-scrollbar {
        width: 0;
    }
}
